.weather-info-actual{
    height: 100vh;
    width: 80%;
    margin: auto;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    letter-spacing: 1.25px;
}
.info-top-home{
    position: absolute;
    left: 5%;
    top: 5%;
    border: none;
    outline: none;
    background: #407BFF;
    padding: 10px 12px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}
.info-top-home:hover{
    transform: scale(1.05) translate(2px,2px);
}
.info-top-home img{
    color: white;
    height: 25px;
}
.info-top{
    height: 65%;
    position: relative;
    display: flex;
    justify-content: center;
}
.info-top-img{
    height: 100%;
}
.info-top-data{
    position: absolute;
    right: 5%;
    top: 5%;
}
#region{
    font-size: 32px;
    padding-bottom: 8px;
}
#location{
    font-size: 16px;
}
.info-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35%;
}
.info-left{
    display: flex;
    flex: 1;
}
.info-left-img{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#left-img-p{
    text-align: center;
    margin-top: 12px;
}
.info-left-temp{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
}
.temp{
    display: flex;
    align-items: center;
}
#temp-num{
    font-size: 36px;
    font-weight: 200;
    margin-right: 16px;
    color: #407BFF;
}
.info-right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
}

.info-desc{
    margin-top: 16px;
}
.info-btm-left-pic{
    height: 20vh;
}
.info-img{
    height: 80px;
}
.seperator{
    height: 4px;
    width: 50px;
    border-radius: 5px;
    background-image: linear-gradient(to left top, #407bff, #ff5d8d, #ebd512);
    margin: auto;
    margin-top: 15px;
}